<form method="post" id="login-form" action = "/api/users/login">
    <label for="email-address-input">Email address</label>
    <input type="email" name="email_address" id="email-address-input">
    <label for="password-input">Password</label>
    <input type="password" name="password" id="password-input">
    <button>Login</button>
</form>
<h1>Not yet registered?<a href="/register">Sign up</a></h1>